*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    list-style-type: none;     
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: var(--cinza);
}

.container{
    padding: 150px;
}